@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">De Los Rios Financial</h1>
    <h4>Learn about gettin money from the big peebs!</h4>

    <img style="width:100%; height: auto;"src="~/img/crack-floor-scaled.jpeg" />
</div>
